{% extends 'expense_tracker/base.html' %}

{% block content %}

{% load crispy_forms_tags %}

<h1 class="display-6">{{ title }}</h1>

<form method="POST" class="post-form">
    {% csrf_token %}

    <div class="row mb-3">
        {{ form.name|as_crispy_field }}
        {{ form.amount|as_crispy_field }}
        {{ form.category|as_crispy_field }}
        {{ form.date|as_crispy_field }}
    </div>

    <div>
        <button type="submit" class="btn btn-dark">{{ button }}</button>
        <a href="{% url 'home' %}" class="btn btn-dark">Назад</a>
    </div>
</form>

{% endblock %}