{% extends 'expense_tracker/base.html' %}

{% block content %}
<h1>{{ title }}</h1>

<p><b>Дата:</b> {{ date }}</p>

<table class="table table-hover">

    <thead class="table-light">
    <tr>
        <th scope="col">
            Категория
        </th>

        {% for month in months %}
        <th scope="col">
            {{ month }}
        </th>
        {% endfor %}

        <th scope="col">
            Всего
        </th>
    </tr>
    </thead>

    <tbody>
    {% for category in categories %}
    <tr>
        <td>
            {{ category }}
        </td>

        {% for month, expense in month_total.items %}
        <td>

            {% if category.name in expense.keys %}

            {% for cat, amount in expense.items %}

            {% if category.name == cat %}
            {{ amount }}

            {% endif %}

            {% endfor %}

            {% else %}
            0,0
            {% endif %}

        </td>
        {% endfor %}

        {% if category.pk in nonempty_category_pk %}

        {% for cat_total in amount_per_category %}

        {% if cat_total.category == category.pk %}
        <td>
            {{ cat_total.total_amount }}
        </td>
        {% endif %}

        {% endfor %}

        {% else %}
        <td>0,0</td>

        {% endif %}

    </tr>
    {% endfor %}

    </tbody>
</table>

<p><b>Максимальная сумма:</b> {{ max_amount.amount__max }}</p>
<p><b>Минимальная сумма:</b> {{ min_amount.amount__min }}</p>
<p><b>Итого:</b> {{ total_amount.amount__sum }}</p>

{% endblock %}