{% extends 'expense_tracker/base.html' %}

{% block content %}
<h1>{{ title }}</h1>

{% if categories|length == 0 %}

<p>Список категорий пуст</p>

{% else %}

<table cellpadding="10" rules="cols">
    <tbody>
    <tr>
        <td><b>Категория</b></td>
        <td><b>Действие</b></td>
    </tr>
    {% for c in categories %}
    <tr>
        <td>{{ c.name }}</td>
        <td><a href="{% url 'edit_category' c.pk %}">Изменить</a>
            | <a href="{% url 'delete_category' c.pk %}">Удалить</a></td>
    </tr>
    {% endfor %}

    </tbody>
</table>

{% endif %}

<p><a href="{% url 'add_category' %}">Добавить</a> <a href="{% url 'home' %}">Назад</a></p>
{% endblock %}