{% extends 'expense_tracker/base.html' %}

{% block content %}
<form method="POST">
    {% csrf_token %}

    {% if messages %}
    <p class="messages">{% for message in messages %}</p>
    <p class="{{ message.tags }}">
    <h3>{{ message|safe }}</h3>
    {% endfor %}
    {% endif %}

    {% if expenses %}
    <p><a href="{% url 'transfer_expenses' category_pk %}" class="btn btn-success">Перенести расходы</a></p>
    {% endif %}

    <h3>Вы уверены, что хотите удалить категорию {{ category }}?</h3>

    <p>
        <button type="submit" class="btn btn-danger">Да</button>
        <a href="{% url 'categories' %}" class="btn btn-dark">Нет</a>
    </p>
</form>
{% endblock %}