{% extends 'expense_tracker/base.html' %}

{% block content %}

{% if page_obj|length == 0 %}

<p>История расходов пуста</p>

{% else %}

<table class="table table-hover">
    <thead class="table-light">
    <tr>
        <th scope="col">Имя</th>
        <th scope="col">Стоимость</th>
        <th scope="col">Категория</th>
        <th scope="col">Дата</th>
        <th scope="col">Действие</th>
    </tr>
    </thead>

    <tbody>
    {% for expense in page_obj %}
    <tr>
        <td>{{ expense.name }}</td>
        <td>{{ expense.amount }}</td>
        <td>{{ expense.category }}</td>
        <td>{{ expense.date }}</td>
        <td><a href="{% url 'edit_expense' expense.pk %}">Изменить</a>
            | <a href="{% url 'delete_expense' expense.pk %}">Удалить</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<nav>
    {% for p in page_obj.paginator.page_range %}
    {% if page_obj.number == p %}
    <b>{{ p }}</b>
    {% else %}
    <a href="?page={{ p }}">{{ p }}</a>
    {% endif %}
    {% endfor %}
</nav>
{% endif %}

{% endblock %}