{% extends 'expense_tracker/base.html' %}

{% load cache %}

{% block content %}
<h1>{{ title }}</h1>

{% if messages %}
<p class="messages">{% for message in messages %}</p>
<p class="{{ message.tags }}">
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ message|safe }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}

<div class="form-content">
    <form method="post" class="post-form">
        {% csrf_token %}

        <div class="col-md-5">
            <div class="form-group">
                <label class="small mb-1">Имя:</label>
                {{ user_form.username }}
                <label class="small mb-1">Email:</label>
                {{ user_form.email }}
            </div>
            <a href="{% url 'change_password' %}">Изменить пароль</a>
            <hr>

            <h6>Лимит</h6>

            <div class="form-group mb-3">
                <label class="small mb-1">День:</label>
                {{ profile_form.day_limit }}
            </div>
            <div class="form-group mb-3">
                <label class="small mr-10">Неделя:</label>
                {{ profile_form.week_limit }}
            </div>
            <div class="form-group mb-3">
                <label class="small mr-10">Месяц:</label>
                {{ profile_form.month_limit }}
            </div>
        </div>

<button type="submit" class="btn btn-dark">Сохранить</button>
<button type="reset" class="btn btn-dark">Отмена</button>
</form>
</div>

{% endblock %}