{% extends 'expense_tracker/base.html' %}

{% block content %}
<h1>{{ title }}</h1>

{% if categories|length == 0 %}

<p>Список категорий пуст</p>

<a href="{% url 'add_category' %}">Добавить</a>

{% else %}

<a href="{% url 'add_category' %}">Добавить</a>

<ul>
         {% for c in categories %}

         <li>
                   <p>{{c.name}} | <a href="{% url 'edit_category' c.pk %}">Изменить</a>
                       | <a href="{% url 'delete_category' c.pk %}">Удалить</a></p>
         </li>
         {% endfor %}
    {% endif %}
</ul>

<a href="{% url 'home' %}">Назад</a>
{% endblock %}