{% extends 'expense_tracker/base.html' %}

{% block content %}
<h1>{{ title }}</h1>

<table cellpadding="10" rules="cols">
    <tbody>

    <tr>
        <td>
            <b>Категория</b>
        </td>

        {% for weekday in weekdays %}
        <td>
            <b>{{ weekday }}</b>
        </td>
        {% endfor %}
    </tr>

    {% for category in categories %}
    <tr>
        <td>
            {{ category }}
        </td>

        {% for weekday, expense in weekday_total.items %}
        <td>
            {% for cat, amount in expense.items %}
            {% if category.name == cat %}
            {{ amount }}
            {% endif %}
            {% endfor %}
        </td>

        {% endfor %}
    </tr>
    {% endfor %}

    </tbody>
</table>

<p><b>Максимальная сумма:</b> {{ max_amount.amount__max }}</p>
<p><b>Минимальная сумма:</b> {{ min_amount.amount__min }}</p>
<p><b>Итого:</b> {{ total.amount__sum }}</p>

<p><a href="{% url 'statistics' %}">Назад</a></p>

{% endblock %}