{% extends 'expense_tracker/base.html' %}

{% block content %}
<h1>{{ title }}</h1>

{% include 'expense_tracker/includes/statistics_navbar.html' %}

<table cellpadding="10" rules="cols">
    <tbody>

    <tr>
        <td>
            <b>Категория</b>
        </td>

        {% for weekday in weekdays %}
        <td>
            <b>{{ weekday }}</b>
        </td>
        {% endfor %}

        <td>
            <b>Всего</b>
        </td>
    </tr>

    {% for category in categories %}
    <tr>
        <td>
            {{ category }}
        </td>

        {% for weekday, expense in weekday_total.items %}
        <td>

            {% if category.name in expense.keys %}

            {% for cat, amount in expense.items %}

            {% if category.name == cat %}
            {{ amount }}

            {% endif %}

            {% endfor %}

            {% else %}
            0,0
            {% endif %}

        </td>
        {% endfor %}

        {% if category.pk in category_total_pk %}

        {% for cat_total in category_total %}

        {% if cat_total.category == category.pk %}
        <td>
            {{ cat_total.total_amount }}
        </td>
        {% endif %}

        {% endfor %}

        {% else %}
        <td>0,0</td>

        {% endif %}

    </tr>
    {% endfor %}

    </tbody>
</table>

<p><b>Максимальная сумма:</b> {{ max_amount.amount__max }}</p>
<p><b>Минимальная сумма:</b> {{ min_amount.amount__min }}</p>
<p><b>Итого:</b> {{ total.amount__sum }}</p>

<p><a href="{% url 'home' %}">Назад</a></p>

{% endblock %}